<div>
  <% if @play == 1 %>
  <% if session[:hold1] == 0 %>
    <% session[:reel1]=session[:reel1]+@reel1 %>
    <% if session[:reel1] > 9 %>
      <% session[:reel1]=session[:reel1]-9 %>
    <% end %>
  <% end %>
    <% session[:reel2]=session[:reel2]+@reel2 %>
    <% if session[:reel2] > 9 %>
      <% session[:reel2]=session[:reel2]-9 %>
    <% end %>
    <% session[:reel3]=session[:reel3]+@reel3 %>
    <% if session[:reel3] > 9 %>
      <% session[:reel3]=session[:reel3]-9 %>
    <% end %>
  <% end %>
  <% session[:hold1] = 0 %>
  <div>Reel 1: <%= session[:reel1] %></div>
  <div>Reel 2: <%= session[:reel2] %></div>
  <div>Reel 3: <%= session[:reel3] %></div>
  <div>
    <img src="/images/<%= session[:reel1] %>.jpg" width="100" height="100">
    <img src="/images/<%= session[:reel2] %>.jpg" width="100" height="100">
    <img src="/images/<%= session[:reel3] %>.jpg" width="100" height="100">
  </div>
  <% if @play == 1 %>
    <% if (session[:reel1] == session[:reel2]) && (session[:reel1] == session[:reel3]) %>
      <div>You have won 20 coins!</div>
      <% session[:coins]=session[:coins]+20 %>
    <% elsif (session[:reel1] == session[:reel2]) %>
      <div>You have won 10 coins!</div>
      <% session[:coins]=session[:coins]+10 %>
    <% else %>
      <% if session[:coins] == 0 %>
        <div>No coins left. Sorry!</div>
      <% else %>
        <div>Not this time. Spin again.</div>
      <% end %>
    <% end %>
  <% end %>
  <div>Coins: <%= session[:coins] %></div>
  <% if session[:coins] > 0 %>
    <form action="/" method="post">
      <input type="button" style="height:100px;width:100px" value="HOLD 1">
      <input type="button" style="height:100px;width:100px" value="HOLD 2">
      <input type="button" style="height:100px;width:100px" value="HOLD 3">
      <input type="submit" style="height:100px;width:100px" value="SPIN">
    </form>
  <% end %>
</div>