<div style='width: 368px; height: 465px; background-image: url(/images/machine.jpg); text-align:center; margin:0 auto; '>
  <div style='padding-top:80px; '>
  <% if @play == 1 %>
    <% session[:reel1]=session[:reel1]+@reel1 %>
    <% if session[:reel1] > 9 %>
      <% session[:reel1]=session[:reel1]-9 %>
    <% end %>
    <% session[:reel2]=session[:reel2]+@reel2 %>
    <% if session[:reel2] > 9 %>
      <% session[:reel2]=session[:reel2]-9 %>
    <% end %>
    <% session[:reel3]=session[:reel3]+@reel3 %>
    <% if session[:reel3] > 9 %>
      <% session[:reel3]=session[:reel3]-9 %>
    <% end %>
  <% end %>
  </div>
  <div>
    <img src="/images/<%= session[:reel1] %>.jpg" width="80" height="80">
    <img src="/images/<%= session[:reel2] %>.jpg" width="80" height="80">
    <img src="/images/<%= session[:reel3] %>.jpg" width="80" height="80">
  </div>
  <% if @play == 1 %>
    <% if (session[:reel1] == session[:reel2]) && (session[:reel1] == session[:reel3]) %>
      <% @winnings=(session[:reel1]*3) %>
      <% if @winnings < 11 %>
        <% @winnings=5 %>
      <% elsif @winnings > 11 && @winnings < 20 %>
        <% @winnings=10 %>
      <% elsif @winnings > 20 && @winnings < 25 %>
        <% @winnings=20 %>
      <% else %>
        <% @winnings=30 %>
      <% end %>
    <% elsif (session[:reel1] == session[:reel2]) %>
      <% @winnings=(session[:reel1]+1) %>
      <% if @winnings > 5 && @winnings < 8 %>
        <% @winnings=5 %>
      <% elsif @winnings > 8 %>
        <% @winnings=10 %>
      <% else %>
        <% @winnings %>
      <% end %>
    <% else %>
      <% if session[:coins] == 0 %>
        <div style="font-size:20px">No coins left. Sorry!</div>
      <% else %>
        <div style="font-size:20px">Not this time. Spin again.</div>
      <% end %>
    <% end %>
    <% if @winnings %>
      <div style="font-size:20px">You have won <%= @winnings %> coins!</div>
      <% session[:coins]=session[:coins]+@winnings %>
    <% end %>
  <% else %>
    <div style="font-size:20px">Spin those reels!</div>
  <% end %>
  <div style="font-size:30px">Coins: <%= session[:coins] %></div>
  <input type="button" style="height:80px;width:80px" value="HOLD 1">
  <input type="button" style="height:80px;width:80px" value="HOLD 2">
  <input type="button" style="height:80px;width:80px" value="HOLD 3">
  <% if session[:coins] > 0 %>
    <form action="/" method="post">
      <input type="submit" style="height:40px;width:248px" value="SPIN">
    </form>
  <% else %>
    <form>
      <input type="button" style="height:40px;width:248px" value="SPIN">
    </form>
  <% end %>
  <div><img src="/images/scoring.jpg" width="248" height="58"></div>
</div>